services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: bio
      POSTGRES_PASSWORD: bio
      POSTGRES_DB: biodemand
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  